html {
  min-width: 1200px;
}

.bg {
  background: url(../images/bg.jpg) center top no-repeat;
  background-size: cover;
}

.header, .navBox, .slideBox {
  width: 1200px;
  margin: 0 auto; }

.header {
  padding: 34px 0 24px; }
  .header .logo {
    width: 65%;
    padding-top: 5px; }
    .header .logo img {
      width: 640px;
      float: left;
    }
    .header .logo .gw {
      float: left;
      display: inline-block;
      color: #fff;
      height: 120px;
    }
    .header .logo .gw p {
      font-size: 26px;
    border-radius: 24px;
    background-color: #0063af;
    margin: 40px 10px;
    padding: 2px 16px;
    }
  .header .headerR {
    width: 370px;
    /* padding-right: 126px; */
    padding-top: 15px;
    /* background: url(../images/ewm.png) right center no-repeat;  */}
    .header .headerR .hotLine {
      padding-left: 25px;
      background: url(../images/icon_01.png) left center no-repeat;
      font-size: 24px;
      font-weight: 700;
      color: #0063af; }
    .header .headerR .hotLineZ {
      margin-top: 10px; }
      .header .headerR .hotLineZ a {
        display: inline-block;
        width: 76px;
        height: 20px;
        background: url(../images/qq.png) 0 0 no-repeat;
        padding-left: 24px;
        font-size: 12px;
        margin-left: 10px; }

.navBox .nav li {
  float: left;
  width: 199px;
  border-right: 1px solid #4e94cc;
  position: relative; }
  .navBox .nav li a {
    display: block;
    background: #0166b6;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-align: center; }
    .navBox .nav li a:hover {
      background: #ff9200;
      color: #fff; }
  .navBox .nav li.current a {
    background: #ff9200; }
  .navBox .nav li:first-child a {
    border-radius: 5px 0 0 0; }
  .navBox .nav li:last-child {
    border-right: none; }
    .navBox .nav li:last-child a {
      border-radius: 0 5px 0 0;
      width: 200px; }
  .navBox .nav li .subNav {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 119px;
    padding-top: 10px;
    z-index: 9999; }
    .navBox .nav li .subNav a {
      background: #ff9200;
      color: #fff;
      line-height: 40px;
      font-size: 14px; }
  .navBox .nav li:hover .subNav {
    display: block; }

.slideBox {
  width: 1200px;
  height: 324px;
  overflow: hidden;
  position: relative; }
  .slideBox .slideCont .slide li a {
    width: 1200px;
    height: 324px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center; }
    .slideBox .slideCont .slide li a img {
      width: 100%;
      height: auto; }
  .slideBox .prev, .slideBox .next {
    position: absolute;
    left: 1%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .slideBox .next {
    left: auto;
    right: 1%;
    background-position: 8px 5px; }
  .slideBox .prev:hover, .slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1; }
  .slideBox .prevStop {
    display: none; }
  .slideBox .nextStop {
    display: none; }

.wrapper {
  width: 1160px;
  min-height: 942px;
  padding: 30px 20px;
  background: #fff;
  margin: 0 auto; }
  .wrapper .content {
    width: 1160px;
    position: relative; }
    .wrapper .content .columnBox {
      width: 910px; }
      .wrapper .content .columnBox .column {
        float: left;
        width: 478px;
        margin: 0 26px 40px 0; 
        min-height: 310px; 
        }
        .wrapper .content .columnBox .column .title {
          width: 478px;
          line-height: 50px;
          text-indent: 12px;
          font-size: 20px;
          font-weight: 700;
          color: #fff;
          background: url(../images/titleBg.png) 0 0 no-repeat;
          position: relative; }
          .wrapper .content .columnBox .column .title a {
            display: block;
            width: 64px;
            height: 50px;
            background: url(../images/1_22.jpg) center center no-repeat;
            position: absolute;
            top: 0;
            right: 10px; }
        .wrapper .content .columnBox .column .ggList {
          width: 380px; }
          .wrapper .content .columnBox .column .ggList li {
            padding-left: 25px;
            font-size: 16px;
            margin-top: 20px;
            background: url(../images/list_01.png) 0 5px no-repeat; }
            .wrapper .content .columnBox .column .ggList li span {
              color: #999;
              margin-left: 20px; }
        .wrapper .content .columnBox .column .list {
          width: 478px;
          font-size: 16px;
          padding-top: 10px;
          overflow: hidden;
          }
          .wrapper .content .columnBox .column .list li {
   
            margin-top: 14px;
            padding-left: 13px;
            background: url(../images/list_02.png) left center no-repeat; }
            .wrapper .content .columnBox .column .list li a {
              display: block;
              width: 465px;
              position: relative; }
              .wrapper .content .columnBox .column .list li a p {
                width: 320px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
              .wrapper .content .columnBox .column .list li a span {
                display: block;
                width: 50px;
                text-align: right;
                color: #999;
                position: absolute;
                right: 0;
                top: 0; }
      .wrapper .content .columnBox .columnL {
        width: 380px;
        float: left; }
        .wrapper .content .columnBox .columnL .title {
          width: 380px; }
        .wrapper .content .columnBox .columnL .list {
          width: 380px; }
          .wrapper .content .columnBox .columnL .list li a {
            width: 367px; }
            .wrapper .content .columnBox .columnL .list li a p {
              width: 260px; }
    .wrapper .content .shopBox {
      width: 246px;
      position: absolute;
      right: 0;
      top: 0; }
      .wrapper .content .shopBox .shop {
        box-shadow: 0 0 5px #d8dce7;
        padding: 5px 21px;
        background: #fff; }
        .wrapper .content .shopBox .shop .shopUl li {
          height: 37px;
          margin-bottom: 15px; }
          .wrapper .content .shopBox .shop .shopUl li a {
            display: block;
            color: #fff;
            line-height: 36px;
            text-indent: 90px; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(1) {
            background: url(../images/btn_01.png) 0 0 no-repeat; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(2) {
            background: url(../images/btn_02.png) 0 0 no-repeat; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(3) {
            background: url(../images/btn_03.png) 0 0 no-repeat; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(4) {
            background: url(../images/btn_04.png) 0 0 no-repeat; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(5) {
            background: url(../images/btn_05.png) 0 0 no-repeat; }
          .wrapper .content .shopBox .shop .shopUl li:nth-child(6) {
            background: url(../images/btn_06.png) 0 0 no-repeat;
            margin-bottom: 0; }
      .picBox .jyfwdd {
        width: 204px;
      }
        .picBox .jyfwdd a {
          display: block;
          background: url('../images/jyfwdd.jpg'); 
        }
        .picBox .jyfwdd a p {
          text-align: center;
          line-height: 50px;
          font-size: 24px;
          color: #fff;
        }

        .picBox .xxList {
          margin-top: 10px;
          height: 40px;
        }
      .picBox .xxList li {
        float: left;
        width: 210px;
        margin-top: 10px;
        background: #ebeef2; 
        margin: 0 11px;
      }
        .picBox .xxList li a {
          display: block;
          line-height: 40px;
          padding-left: 65px; }
        .picBox .xxList li:nth-child(1) a {
          background: url(../images/icon_02.png) 30px center no-repeat; }
        .picBox .xxList li:nth-child(2) a {
          background: url(../images/icon_03.png) 30px center no-repeat; }
        .picBox .xxList li:nth-child(3) a {
          background: url(../images/icon_04.png) 30px center no-repeat; }
        .picBox .xxList li:nth-child(4) a {
          background: url(../images/icon_05.png) 30px center no-repeat; }
        .picBox .xxList li:nth-child(5) a {
          background: url(../images/icon_06.png) 30px center no-repeat; }
        .wrapper .picBox {
            width: 1160px;
            height: 230px;
            overflow: hidden;
            position: relative;
          }
  .wrapper .picBox .title {
    width: 1160px;
    line-height: 50px;
    text-indent: 12px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: url(../images/titleBg.png) 0 0 no-repeat;
    position: relative; }
    .wrapper .picBox .title a {
      display: block;
      width: 64px;
      height: 50px;
      background: url(../images/1_22.jpg) center center no-repeat;
      position: absolute;
      top: 0;
      right: 10px; }
  .wrapper .picBox .picUl {
    margin-top: 20px!important; }
    .wrapper .picBox .picUl li {
      float: left;
      width: 215px;
      height: 159px;
      margin-right: 21px;
      position: relative; }
      .wrapper .picBox .picUl li:last-child {
        margin-right: 0; }
      .wrapper .picBox .picUl li a {
        display: block; }
        .wrapper .picBox .picUl li a img {
          display: block;
          width: 100%;
          height: auto; }
        .wrapper .picBox .picUl li a p {
          width: 216px;
          background-color: rgba(0, 0, 0, 0.6);
          text-align: center;
          color: #fff;
          line-height: 28px;
          position: absolute;
          left: 0;
          bottom: 0; }
  .wrapper .partner {
    margin: 28px 0; }
    .wrapper .partner a {
      float: left;
      display: block;
      width: 185px;
      height: 68px;
      margin-right: 10px; }
      .wrapper .partner a:last-child {
        margin-right: 0; }
  .wrapper .link {
    position: relative;
    padding-left: 90px;
    line-height: 30px;
    color: #666; }
    .wrapper .link h2 {
      width: 90px;
      line-height: 30px;
      text-align: center;
      background: #0063af;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0; }
    .wrapper .link a {
      margin: 0 12px;
      color: #666; }

.footerWrap {
  background: #0063af;
  padding-top: 50px;
  padding-bottom: 120px;
}
  .footerWrap .footer {
    width: 1160px;
    margin: 0 auto; }
    .footerWrap .footer .footerL {
      /* width: 610px;  */
      text-align: center;
    }
      .footerWrap .footer .footerL .contact p {
        font-size: 24px;
        color: #fff;
        line-height: 1.8; }
        .footerWrap .footer .footerL .contact p span {
          width: 240px;
          display: inline-block; }
      .footerWrap .footer .footerL .copyright {
        margin-top: 30px; }
        .footerWrap .footer .footerL .copyright p {
          color: #fff;
          line-height: 1.8; }
          .footerWrap .footer .footerL .copyright p span {
            margin-right: 20px; }
    .footerWrap .footer .footerC {
      width: 318px; }
      .footerWrap .footer .footerC h2 {
        margin-top: 20px;
        margin-left: 40px;
        color: #fff;
        font-size: 20px;
        font-weight: 400; }
      .footerWrap .footer .footerC .fEwm {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        font-size: 12px; 
        margin-left: 42px;
      }
      .footerWrap .footer .footerC .fEwm img {
        width: 185px;
        height: 185px;
      }
      .footerWrap .footer .footerC .fEwm p {
        font-size: 20px;
        font-weight: 400; 
      }
      .footerWrap .footer .footerC .tel {
        padding-left: 38px;
        height: 26px;
        line-height: 26px;
        color: #fff;
        font-size: 20px;
        background: url(../images/icon_14.png) 0 0 no-repeat; }
      .footerWrap .footer .footerC .qqInfo {
        margin: 20px 0; }
        .footerWrap .footer .footerC .qqInfo a {
          display: inline-block;
          width: 88px;
          line-height: 31px;
          padding-left: 32px;
          background: url(../images/btn_07.png) 0 0 no-repeat;
          margin-right: 36px; }
      .footerWrap .footer .footerC .f_btn a {
        display: inline-block;
        width: 120px;
        line-height: 31px;
        text-align: center;
        background: url(../images/btn_08.png) 0 0 no-repeat;
        margin-right: 36px; }
    .footerWrap .footer .footerR {
      width: 100px;
      text-align: center; }
      .footerWrap .footer .footerR h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 400; }
      .footerWrap .footer .footerR .fEwm {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        font-size: 12px; }

.sidebar {
  width: 280px; }
  .sidebar .colSidebar {
    text-align: center;
    margin-bottom: 30px; }
    .sidebar .colSidebar h2 {
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      background: #0063af; }
    .sidebar .colSidebar ul li {
      margin-bottom: 1px;
      background: #ebeef2; }
      .sidebar .colSidebar ul li a {
        display: block;
        color: #727272;
        line-height: 48px;
        font-size: 18px; }
      .sidebar .colSidebar ul li.current a {
        color: #ff9200; }
  .sidebar .sideMenu h2 {
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background: #0063af;
    text-align: center; }
  .sidebar .sideMenu h3 {
    width: 280px;
    height: 48px;
    line-height: 48px;
    background: #ebeef2;
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    border-bottom: 1px solid #fff; }
    .sidebar .sideMenu h3 a {
      display: block;
      padding-left: 55px;
      background: url(../images/arrows_01.png) 30px center no-repeat; }
    .sidebar .sideMenu h3.on a {
      background: url(../images/arrows_02.png) 30px center no-repeat; }
  .sidebar .sideMenu ul {
    display: none; }
    .sidebar .sideMenu ul li {
      width: 280px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: #ebeef2;
      border-bottom: 1px solid #fff; }
      .sidebar .sideMenu ul li a {
        display: block;
        font-size: 18px;
        color: #727272;
        text-align: center; }
      .sidebar .sideMenu ul li.current a {
        color: #ff9200; }
  .sidebar .wsbm {
    display: block;
    width: 164px;
    line-height: 40px;
    background: url(../images/btn_09.png) left center no-repeat;
    padding-left: 116px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px; }

.listWrap {
  width: 830px; }
  .listWrap .title {
    width: 830px;
    position: relative;
    }
    .listWrap .title h2 {
      float: left;
      display: inline-block;
      font-size: 20px;
      line-height: 50px;
      color: #fff;
      padding-left: 12px;
      background: url(../images/titleBg_1.png) 0 0 no-repeat;
      background-size: 100% 100%;
      padding: 0 10px;
    }
    .listWrap .title img {
      float: left;
    }
    .listWrap .title .crumbs {
      width: 500px;
      text-align: right;
      line-height: 50px;
      position: absolute;
      top: 0;
      right: 20px; }
      .listWrap .title .crumbs strong {
        display: inline-block;
        padding-left: 20px;
        background: url(../images/icon_17.png) left center no-repeat; }
  .listWrap .listContent {
    padding-top: 10px;
   }
    .listWrap .listContent li {
      width: 818px;
      padding-left: 12px;
      background: url(../images/list_02.png) left center no-repeat;
      margin-top: 25px; }
      .listWrap .listContent li a {
        width: 818px;
        display: block;
        font-size: 16px;
        position: relative; }
        .listWrap .listContent li a p {
          width: 580px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .listWrap .listContent li a span {
          display: block;
          width: 90px;
          position: absolute;
          top: 0;
          right: 0; }
  .listWrap .page {
    text-align: center;
    color: #999999;
    padding-top: 40px; }
    .listWrap .page a, .listWrap .page span {
      display: inline-block;
      box-sizing: border-box; }
    .listWrap .page .current {
      color: #ffffff;
      background: #0166b6;
      width: 34px;
      height: 34px;
      line-height: 34px; }
    .listWrap .page .PageNum {
      color: #666;
      background: #fff;
      width: 34px;
      height: 34px;
      line-height: 34px;
      margin: 0 3px; }
    .listWrap .page .nextPage {
      margin: 0 3px; }
    .listWrap .page .nextBtn, .listWrap .page .prebtn, .listWrap .page .disabled {
      color: #666;
      background: #fff;
      border: 1px solid #e5e5e5;
      width: 88px;
      height: 34px;
      line-height: 34px;
      margin: 0 10px; }
    .listWrap .page .pageInput {
      width: 50px;
      height: 34px;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
      margin: 0 12px;
      color: #666; }
    .listWrap .page .pageBtn {
      width: 48px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #0166b6;
      margin-left: 10px;
      cursor: pointer;
      background: #0166b6;
      color: #fff; }
    .listWrap .page input::-webkit-outer-spin-button,
    .listWrap .page input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .listWrap .page input[type="number"] {
      -moz-appearance: textfield; }
  .listWrap .detailsWarp {
    width: 830px; }
    .listWrap .detailsWarp .title {
      font-size: 20px;
      padding-bottom: 10px;
      border-bottom: 3px solid #0166b6; }
    .listWrap .detailsWarp .detailsContent {
      padding: 40px 0; }
      .listWrap .detailsWarp .detailsContent .detailsHd {
        text-align: center;
        padding-bottom: 40px; }
        .listWrap .detailsWarp .detailsContent .detailsHd h1 {
          font-size: 24px;
          margin-bottom: 10px; }
        .listWrap .detailsWarp .detailsContent .detailsHd .articleInfo {
          color: #999; }
          .listWrap .detailsWarp .detailsContent .detailsHd .articleInfo span {
            margin: 0 20px; }
      .listWrap .detailsWarp .detailsContent .detailsBd {
        font-size: 14px;
        line-height: 2.2; }
        .listWrap .detailsWarp .detailsContent .detailsBd p {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #666; }
          .listWrap .detailsWarp .detailsContent .detailsBd p img {
            max-width: 830px;
            height: auto; }
      .listWrap .detailsWarp .detailsContent .shop {
        padding: 5px 30px;
        background: #efeff4;
        text-align: right;
        margin-top: 60px; }
        .listWrap .detailsWarp .detailsContent .shop a {
          color: #0166b6;
          font-size: 12px; }
      .listWrap .detailsWarp .detailsContent .leaf-page-nav {
        margin-top: 20px; }
        .listWrap .detailsWarp .detailsContent .leaf-page-nav li {
          line-height: 30px; }
          .listWrap .detailsWarp .detailsContent .leaf-page-nav li b {
            color: #0166b6; }

.formBox {
  width: 830px;
  padding-bottom: 50px;
  box-shadow: 0 0 15px #d8dce7; }
  .formBox .formUl {
    padding: 30px 0; }
    .formBox .formUl li {
      float: left;
      width: 355px;
      height: 40px;
      margin: 0 30px;
      overflow: hidden;
      padding: 15px 0; }
      .formBox .formUl li .control-label {
        width: 95px;
        float: left;
        font-size: 16px;
        margin-top: 8px; }
      .formBox .formUl li .controls {
        margin-left: 95px;
        width: 260px; }
        .formBox .formUl li .controls .inputT {
          width: 200px;
          padding: 0 20px;
          border: none;
          background: #e8e8e8;
          line-height: 40px;
          display: inline;
          font-size: 16px; }
        .formBox .formUl li .controls em {
          color: #df0032; }
        .formBox .formUl li .controls .radio {
          padding-top: 8px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 40px;
          font-size: 16px; }
        .formBox .formUl li .controls .selectS {
          width: 200px;
          height: 40px;
          padding: 0 20px;
          margin-right: 10px;
          border: none;
          background: #e8e8e8;
          line-height: 40px;
          display: inline;
          font-size: 16px; }
      .formBox .formUl li:last-child {
        width: 755px; }
        .formBox .formUl li:last-child .controls {
          width: 660px; }
          .formBox .formUl li:last-child .controls .inputT {
            width: 660px; }
  .formBox .formBtn {
    text-align: center; }
    .formBox .formBtn .tjBtn {
      width: 252px;
      line-height: 40px;
      font-size: 18px;
      color: #fff;
      background: url(../images/btn_10.png) 0 0 no-repeat; }

.popup__container {
  max-width: 270px;
  padding: 34px 80px;
  border-radius: 10px; }
  .popup__container .popup_icon {
    text-align: center; }
    .popup__container .popup_icon img {
      display: block;
      margin: 0 auto; }
    .popup__container .popup_icon p {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 700; }
      
    .popup__container .popup_btn img {
        display: block;
        margin: 0 auto; }
    .popup__container .popup_btn p {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 700; 
        width: 250px;
        text-align: center;
      }
      .popup__container .popup_btn span {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700; }

        .kf {
          position: fixed;
          bottom: 0;
          width: 100%;
          height: 120px;
          z-index: 50;
          background: #0063af;
        }
        .kf .f-cbli {
          width: 1200px;
          height: 100%;
          background: #0063af;    
          margin: 0 auto;      
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        .kf ul li{
          float: left;
        }
        .kf ul li a {
          display: block;
          width: 200px;
          height: 60px;
          padding: 15px 0;
          color: #fff;
          text-align: center;
          font-size: 24px;
          background: #ff9200;
          border-radius: 15px;
        }
        .kf ul li.phone a {
          -webkit-border-radius: 20px 0 0 0;
          -moz-border-radius: 20px 0 0 0;
          border-radius: 20px 0 0 0;
        }
        .kf ul li.leader a {
          -webkit-border-radius: 0 20px 0 0;
          -moz-border-radius: 0 20px 0 0;
          border-radius: 0 20px 0 0;
        }

.videoList {
  width: 855px;
  margin-left: -25px; }
  .videoList .videoBox {
    float: left;
    width: 260px;
    margin-left: 25px;
    margin-top: 30px; }
    .videoList .videoBox .vPic a {
      display: block;
      width: 260px;
      position: relative;
      background: #000; }
      .videoList .videoBox .vPic a img {
        display: block;
        float: none;
        width: 100%;
        height: 175px;
        opacity: 0.6;
        filter: alpha(opacity=60); }
      .videoList .videoBox .vPic a span {
        display: block;
        width: 260px;
        height: 175px;
        background: url(../images/icon_20.png) center center no-repeat;
        position: absolute;
        top: 0;
        left: 0; }
    .videoList .videoBox .vText a {
      display: block;
      font-size: 16px;
      text-align: center;
      margin: 10px 0; }

.picList .videoBox .vPic a img {
  transition: all 0.6s; }
.picList .videoBox .vPic a:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1.1, 1.1); }

.videoDetails {
  width: 640px;
  margin: 0 auto; }
  .videoDetails p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px; }

.picDetails {
  width: 710px;
  margin: 0 auto;
  /*text-align: center;*/ }
  .picDetails img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .picDetails p {
    font-size: 16px;
    /*text-align: center;*/
    margin-top: 20px; }

.contactUs .map {
  width: 830px;
  height: 400px;
  margin: 30px 0; }
  .contactUs .notes {
    font-size: larger;
    font-weight: bold;
    margin-top: 15px;
  }
.contactUs ul li {
  margin-top: 15px;
  padding-left: 35px;
  font-size: 16px; }
  .contactUs ul li:nth-child(1) {
    background: url(../images/icon_21.png) left center no-repeat; }
    .contactUs ul li:nth-child(2) {
      background: url(../images/icon_22.png) left center no-repeat; }
      .contactUs ul li:nth-child(3) {
        background: url(../images/icon_22.png) left center no-repeat; }
    /* .contactUs ul li:nth-child(4) {
      background: url(../images/icon_zxj.png) left center no-repeat; } */
  .contactUs ul li span {
    display: inline-block;
    width: 275px; }

/*# sourceMappingURL=style.css.map */
